---
import Image from "astro/components/Image.astro";
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
---

<Layout title="GitShowcase">
  <main
    class="flex-1 flex flex-col gap-4 self-center items-center py-24 text-zinc-200 max-w-lg"
  >
    <span class="text-white mix-blend-overlay font-mono">2017 - 2024</span>
    <Image src="/banner.webp" alt="Gitshowcase logo" width={200} height={94} />
    <h1
      class="bg-gradient-to-r from-gs-blue to-gs-green inline-block text-transparent bg-clip-text text-4xl font-semibold text-balance text-center"
    >
      Thank you, GitShowcase community!
    </h1>
    <article class="flex flex-col gap-6 py-4">
      <p>
        Back in 2017, my friend Pedro and I embarked on a journey to make it
        easier for developers to showcase their work with GitShowcase — a
        platform that turned GitHub repos into a beautiful portfolio in minutes.
      </p>
      <p>Over the years, GitShowcase grew beyond our expectations:</p>
      <ul>
        <li>
          ✨ Featured as the <Link
            href="https://www.producthunt.com/products/git-showcase#gitshowcase"
            >4th Product of the Day on Product Hunt</Link
          >
        </li>
        <li>🚀 150k+ projects showcased by developers around the world</li>
      </ul>
      <p>
        Today, we've decided to step away from actively maintaining GitShowcase
        as our focus shifts to other exciting endeavors. This wasn't an easy
        decision, but we're incredibly proud of what we've achieved together
        with your support.
      </p>
      <p>
        A heartfelt thank you to everyone who joined us on this journey —
        whether you built a portfolio, shared feedback, or cheered us on. We
        couldn't have done it without you. ❤️
      </p>
      <p>
        The <Link href="https://github.com/gitshowcase/gitshowcase"
          >repository will remain available</Link
        > for the community to explore or build upon.
      </p>
      <p>
        Here's to the amazing developers and projects that made GitShowcase
        special! 🚀
      </p>
    </article>
    <section class="text-center">
      <Link href="https://www.linkedin.com/in/victor-ferreira-santos/"
        >Victor</Link
      >
      & <Link href="https://www.linkedin.com/in/pedsmoreira/">Pedro</Link>
    </section>
  </main>
</Layout>
